/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Navigation section*/
.nav {
  background-color: #222;
  border-bottom: 2px solid #ed6464;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 99; }

.nav-text {
  float: right; }

.nav a {
  color: #fff;
  position: fixed;
  font-size: 32px;
  font-family: 'Poiret One', cursive;
  text-decoration: none; }

li {
  display: inline;
  position: relative;
  padding-top: 2vh;
  padding-left: 9em;
  right: 15vw; }

a:hover {
  color: #ed6464; }

/*nav ends here*/
#web-name {
  float: left;
  position: absolute;
  left: 10%;
  top: 30%;
  font-family: 'Poiret One', cursive;
  z-index: 5; }

#head {
  font-size: 3em; }

#title {
  background-color: #ed6464;
  padding: 1%;
  font-size: 2.5em;
  width: 50%;
  -webkit-box-shadow: 5px 5px 18px;
  box-shadow: 5px 5px 18px; }

/* end of title*/
/*Skills section*/
#coding-head {
  position: absolute;
  background-color: #ed6464;
  top: 99%;
  left: 42.5%;
  width: 14%;
  padding: 0.5%;
  -webkit-box-shadow: 5px 5px 18px;
  box-shadow: 5px 5px 18px; }

#title2 {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em; }

#coding {
  background-color: white;
  position: absolute;
  top: 130%;
  left: 15%;
  width: 30%;
  height: 50%; }

#coding-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 30%;
  position: absolute; }

#design {
  background-color: white;
  position: absolute;
  top: 130%;
  left: 55%;
  width: 30%;
  height: 50%; }

#design-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 30%;
  position: absolute; }

.heading {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  left: 33%;
  position: absolute;
  top: 10%; }

.heading-wide {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  left: 15%;
  width: 100%;
  position: absolute;
  top: 10%; }

.heading-short {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  left: 40%;
  width: 20%;
  position: absolute;
  top: 10%; }

/*History section*/
#history-header {
  position: absolute;
  background-color: #ed6464;
  top: 199%;
  left: 39%;
  width: 20%;
  padding: 0.5%;
  -webkit-box-shadow: 5px 5px 18px;
  box-shadow: 5px 5px 18px; }

#title3 {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em; }

.left {
  background-color: white;
  position: absolute;
  left: 15%;
  width: 30%;
  height: 30%; }

.right {
  background-color: white;
  position: absolute;
  left: 55%;
  width: 30%;
  height: 30%; }

#tile1 {
  top: 230%; }

#school1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile2 {
  top: 250%; }

#school2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile3 {
  top: 270%; }

#work1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile4 {
  top: 290%; }

#work2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile5 {
  top: 310%; }

#school3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile6 {
  top: 330%; }

#school4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile7 {
  top: 350%; }

#school5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile8 {
  top: 370%; }

#born {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

/*canvas for particles*/
canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #9f9f9f;
  background: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#d0d0d0));
  background: -webkit-linear-gradient(top, #9f9f9f 0%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #9f9f9f 0%, #d0d0d0 100%);
  background: linear-gradient(top, #9f9f9f 0%, #d0d0d0 100%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

/* artwork section*/
#arttile {
  position: relative;
  background-color: white;
  left: 10vw;
  width: 30vw;
  height: 80vh;
  top: -35vh;
  -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }

.image-container {
  width: 8vw;
  height: 16vh;
  position: relative;
  background-color: white;
  margin: 0;
  top: 10vh;
  display: inline-block; }

.work {
  position: relative;
  top: 15vh;
  width: 30%;
  height: auto; }

#foot {
  background-color: silver;
  position: absolute;
  width: 100%;
  height: auto; }

#term {
  font-size: 10pt; }
