/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Navigation section*/
/*.nav{
    background-color: #222;
    border-bottom: 2px solid #ed6464;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 99;
}
.nav-text{
    float: right;
}
.nav a{
    color: #fff ;
    position: fixed;
    font-size: 32px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
}
li{
    display: inline;
    position: relative;
    padding-top: 2vh; 
    padding-left: 9em;
    right: 15vw;
}
a:hover{
    color: #ed6464
}*/
/*side nav attempt*/
@media screen and (min-width: 1025px) and (max-width: 1920px) {
.nav {
  width: 120px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 99;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 10px; }

/* The navigation menu links */
.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

/* When you mouse over the navigation links, change their color */
a:hover {
  color: #ed6464;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

/*nav ends here*/
#web-name {
  float: left;
  position: absolute;
  left: 10%;
  top: 30%;
  font-family: 'Poiret One', cursive;
  z-index: 5; }

#head {
  font-size: 3em; }

#title {
  background-color: #ed6464;
  padding: 1%;
  font-size: 2.5em;
  width: 50%;
  -webkit-box-shadow: 5px 5px 18px;
  box-shadow: 5px 5px 18px; }

#world {
  position: absolute;
  left: 40%;
  width: 750px;
  height: 600px; }

/* end of title*/
/*Skills section*/
#coding-head {
  position: absolute;
  background-color: #ed6464;
  top: 99%;
  left: 42.5%;
  width: 14%;
  padding: 0.5%;
  -webkit-box-shadow: 5px 5px 18px;
  box-shadow: 5px 5px 18px; }

#title2 {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em; }

#coding {
  background-color: white;
  position: absolute;
  top: 130%;
  left: 15%;
  width: 30%;
  height: 50%; }

#coding-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 4%;
  top: 30%;
  line-height: 1.2;
  position: absolute; }

#design {
  background-color: white;
  position: absolute;
  top: 130%;
  left: 55%;
  width: 30%;
  height: 50%; }

#design-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 4%;
  line-height: 1.2;
  top: 30%;
  position: absolute; }

.heading {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  left: 33%;
  position: absolute;
  top: 10%; }

.heading-wide {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  left: 15%;
  width: 100%;
  position: absolute;
  top: 10%; }

.heading-short {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  left: 40%;
  width: 20%;
  position: absolute;
  top: 10%; }

/*History section*/
#history-header {
  position: absolute;
  background-color: #ed6464;
  top: 199%;
  left: 39%;
  width: 20%;
  padding: 0.5%;
  -webkit-box-shadow: 5px 5px 18px;
  box-shadow: 5px 5px 18px; }

#title3 {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  line-height: 1.2; }

.left {
  background-color: white;
  position: absolute;
  left: 15%;
  width: 30%;
  height: 30%; }

.right {
  background-color: white;
  position: absolute;
  left: 55%;
  width: 30%;
  height: 30%; }

/* if tiles needs to be adjusted individually do so in the proper section.
    The above are just templates */
#tile1 {
  top: 230%; }

#school1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute;
  line-height: 1.2; }

#tile2 {
  top: 250%; }

#school2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute;
  line-height: 1.2; }

#tile3 {
  top: 270%; }

#work1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute;
  line-height: 1.2; }

#tile4 {
  top: 290%; }

#work2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute; }

#tile5 {
  top: 310%; }

#school3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute;
  line-height: 1.2; }

#tile6 {
  top: 330%; }

#school4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute;
  line-height: 1.2; }

#tile7 {
  top: 350%;
  height: 35%; }

#school5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute;
  line-height: 1.2; }

#tile8 {
  top: 370%; }

#born {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 2%;
  top: 40%;
  position: absolute;
  line-height: 1.2; }

/*canvas for particles*/
canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #9f9f9f;
  background: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#d0d0d0));
  background: -webkit-linear-gradient(top, #9f9f9f 0%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #9f9f9f 0%, #d0d0d0 100%);
  background: linear-gradient(top, #9f9f9f 0%, #d0d0d0 100%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

/* artwork section */
#arthead {
  position: absolute;
  background-color: #ed6464;
  top: 410%;
  left: 42.5%;
  width: 11%;
  padding: 0.5%;
  -webkit-box-shadow: 5px 5px 18px;
  box-shadow: 5px 5px 18px; }

#title4 {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em; }

#arttile {
  position: absolute;
  background-color: white;
  left: 19vw;
  width: 55vw;
  height: 57vh;
  top: 430%;
  padding: 2%; }

.work {
  position: relative;
  top: 5vh;
  width: 22%;
  height: auto;
  left: 10w; }

#contact {
  border-top: 2px solid #ed6464;
  background-color: #222;
  position: absolute;
  top: 520%;
  width: 100%;
  height: 11%; }

.details {
  width: auto;
  height: 10vh;
  left: 45vw;
  position: relative; }

#contact a {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

a:hover {
  opacity: 0.75;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
}
@media screen and (min-width: 360px) and ( max-width: 1024px) {
    
}