/* artwork section*/
#arttile{
    position: absolute;
    background-color: white;
    left: 19vw;
    width: 55vw;
    height: 70vh;
    top: 420%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    padding: 2%;
}
.work{
    position: relative;
    top: 15vh;
    width: 22%;
    height: auto;
    left: 10w;
}