#contact{
    border-top: 2px solid #ed6464;
    background-color: #222;
    position: absolute;
    top: 520%;
    width: 100%;
    height: 11%;
}
.details{
    width: auto;
    height: 10vh;
    left: 45vw;
    position: relative;
}
#contact a{
    opacity: 1;
    transition: 0.5s;
}
a:hover{
    opacity: 0.75;
    transition: 0.5s;
}