/*History section*/
#history-header{
    position: absolute;
    background-color: #ed6464;
    top: 199%;
    left: 39%;
    width: 20%;
    padding: 0.5%;
    box-shadow: 5px 5px 18px;
}
#title3{
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
    line-height: 1.2;
}
.left{
    background-color: white;
    position: absolute;
    left: 15%;
    width: 30%;
    height: 30%;
}
.right{
    background-color: white;
    position: absolute;
    left: 55%;
    width: 30%;
    height: 30%;
}

/* if tiles needs to be adjusted individually do so in the proper section.
    The above are just templates */
#tile1{
    top: 230%;
}
#school1{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
    line-height: 1.2;
}
#tile2{
    top: 250%;
}
#school2{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
    line-height: 1.2;
}
#tile3{
    top: 270%
}
#work1{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
    line-height: 1.2;
}
#tile4{
    top: 290%;
}
#work2{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
}
#tile5{
    top: 310%;
}
#school3{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
    line-height: 1.2;
}
#tile6{
    top: 330%;
}
#school4{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
    line-height: 1.2;
}
#tile7{
    top: 350%;
    height: 35%;
}
#school5{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
    line-height: 1.2;
}
#tile8{
    top: 370%
}
#born{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 40%;
    position: absolute;
    line-height: 1.2;
}