#coding-head{
    position: absolute;
    background-color: #ed6464;
    top: 99%;
    left: 42.5%;
    width: 14%;
    padding: 0.5%;
    box-shadow: 5px 5px 18px;
}
#title2{
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
    
}
#coding{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 15%;
    width: 30%;
    height: 50%;
}
#coding-text{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 30%;
    position: absolute;
}
#design{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 55%;
    width: 30%;
    height: 50%;
}
#design-text{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2%;
    top: 30%;
    position: absolute;
}
.heading{
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
    left: 33%;
    position: absolute;
    top: 10%;
}
.heading-wide{
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
    left: 15%;
    width: 100%;
    position: absolute;
    top: 10%;
}
.heading-short{
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
    left: 40%;
    width: 20%;
    position: absolute;
    top: 10%;
}