#coding-head{
    position: absolute;
    background-color: #ed6464;
    top: 99%;
    left: 42.5%;
    width: 14%;
    padding: 0.5%;
}
#title2{
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
    
}
#coding{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 15%;
    width: 30%;
    height: 50%;
}
#design{
    background-color: white;
    position: absolute;
    top: 130%;
    left: 55%;
    width: 30%;
    height: 50%;
}