@import "reset.scss";
@import "_nav.scss";
/*nav ends here*/
#web-name{
    float: left;
    position: absolute;
    left: 10%;
    top: 30%;
    font-family: 'Poiret One', cursive;
    z-index: 5;
}
#head{
    font-size: 3em
}
#title{
    background-color: #ed6464;
    padding: 1%;
    font-size: 2.5em;
    width: 50%;
    box-shadow: 5px 5px 18px;
}
#world{
    position: absolute;
    left: 40%;
    width: 750px;
    height: 600px;
}
/* end of title*/
@import "skills.scss";
@import "history.scss";
@import "canvas.scss";
@import "artwork.scss";
@import "foot.scss";